body {
  background-color: #f35959;
  margin: 0;
  font-family: Verdana;
}

.header {
    background-color: #b71515;
    width: 100%;
    height: 15vh;
    margin-bottom: 5vh;
}

.link {
    height: 15vh;
    float: left;
    text-align: center;
    vertical-align: middle;
    line-height: 15vh; 
    color: #9cc515;
    font-size: 5vh;
    font-weight: 600;
    margin-right: 5vh;
    margin-left: 5vh;
}

.link:hover{
    background-color: #A70505;
    color: #8cb505
}

.pokemon{
    height: 12vh;
    width: 12vh;
    float: left;
    border: 2px solid black;
    border-radius: 3vh;
    padding: 3vh;
    overflow: hidden;
}

.pokemon img {
    display: block;
    margin: 0 auto;
    width: 60%;
    height: 60%;
    object-fit: contain;
}

.pokemon-link{
    color: inherit;
    text-decoration: none;
}

.tiles{
    height: calc((18vh * 4) + 22px);
    width: calc((18vh * 4) + 22px);
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.article{
    height: calc((18vh * 4) + 22px - 20vh);
    width: calc((18vh * 4) + 22px - 20vh);
    border: 2px solid black;
    border-radius: 10vh;
    padding: 10vh;
    background-color: #ddd;
}

.article-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.article img {
    display: block;
    width: 100%;
    height: 40%;
    object-fit: contain;
}

.poke-article {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: 5vh;
    justify-content: center;
    margin: 0 auto;
}

.poke-text {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.poke-text li {
    list-style-type: none;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1vw;
}

.arrow {
    height: 10vh;
    width: 10vh;
    padding: 5vw;
    display: block;
}

.arrow:hover {
    opacity: 0.6;
    cursor: pointer;
}